{% extends 'base.html' %}

{% block title %}
    Statystyki uprawy „{{ plant }}”
{% endblock %}

{% block content %}

    <p style="float:right">
        <a href="{% url 'stats:plant_settings' plant.slug %}">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-cog"></span>
                Ustawienia rośliny
            </button>
        </a>
    </p>

    <table class="table">
        <tr>
            <th>Data</th>
            <th>Temperatura</th>
            <th>Wilgotność powietrza</th>
            <th>Wilgotność gleby</th>
        </tr>
        {% for measurement in measurments %}
            <tr>
                <td>{{ measurement.date }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.air_humidity }}</td>
                <td>{{ measurement.soil_humidity }}</td>
            </tr>
        {% endfor %}
    </table>

    <p style="float:right">
        <a href="{% url 'stats:new_measurement' plant.slug %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                Dodaj pomiar
            </button>
        </a>
    </p>

{% endblock %}
