{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    Statystyki uprawy „{{ plant }}”
{% endblock %}

{% block content %}

    {% if measurments.count >= 2 %}
        <div class="col-md-12" style="text-align: center">
            <canvas id="myChart" height="500px" width="700px"></canvas>
        </div>
    {% else %}
        <div class="alert alert-info" style="width: 50%">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Dodaj co najmniej dwa pomiary aby zobaczyć wykres.
        </div>
    {% endif %}

    <script type="text/javascript">

        $.get('{% url 'stats:chart' plant.slug %}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data, {
                responsive: true,
                datasetFill: false
            });
        });
    </script>

    <table class="table">
        <tr>
            <th>Data</th>
            <th>Temperatura</th>
            <th>Wilgotność powietrza</th>
            <th>Wilgotność gleby</th>
            <th>Nasłonecznienie</th>
        </tr>
        {% for measurement in measurments %}
            <tr>
                <td>{{ measurement.date|naturaltime }}</td>
                <td>
                    {% if measurement.temperature %}
                        {{ measurement.temperature|floatformat:"-2" }}
                    {% else %}
                        -
                    {% endif %}
                    °C
                </td>
                <td>
                    {% if measurement.air_humidity %}
                        {{ measurement.air_humidity|floatformat:"-2" }}
                    {% else %}
                        -
                    {% endif %}
                    %
                </td>
                <td>
                    {% if measurement.soil_humidity %}
                        {{ measurement.soil_humidity|floatformat:"-2" }}
                    {% else %}
                        -
                    {% endif %}
                    %
                </td>
                <td>
                    {% if measurement.insolation %}
                        {{ measurement.insolation|floatformat:"-2" }}
                    {% else %}
                        -
                    {% endif %}
                    %
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if plant.user == user %}
        <div style="float:right" class="btn-group">
            <button type="button" class="btn btn-warning">
                <a href="{% url 'stats:plant_settings' plant.slug %}"
                   style="color: inherit; font: inherit; text-decoration: inherit">
                    <span class="glyphicon glyphicon-cog"></span>
                    Ustawienia rośliny
                </a>
            </button>
            <button type="button" class="btn btn-success">
                <a href="{% url 'stats:new_measurement' plant.slug %}"
                   style="color: inherit; font: inherit; text-decoration: inherit">
                    <span class="glyphicon glyphicon-plus"></span>
                    Dodaj pomiar
                </a>
            </button>
        </div>
    {% endif %}

{% endblock %}
